@supports (grid-area: auto) {
    .item-details {
        width: 80vw;
        min-width: 1000px;
        display: grid;
        grid-template-columns: 750px minmax(250px, calc(80vw - 750px));
        grid-template-rows: 700px auto;
        grid-template-areas: 
            "picture info"
            "description empty";
        background-color: white;
        color: #333333;
    }

    .item-detail-picture {
        grid-area: picture;
        max-height: 680px;
        max-width: 680px;
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .item-detail-info {
        grid-area: info;
        padding-right: 32px;

        .item-condition {
            margin-top: 32px;
            margin-bottom: 16px;
            font-size: 14px;
        }

        .item-title {
            margin-bottom: 32px;
            font-size: 24px;
        }

        .item-price {
            margin-top: 0;
            margin-bottom: 32px;
            font-size: 46px;
            font-weight: normal;
        }

        .buy-button {
            width: calc(80vw - 782px);
            min-width: 250px - 32px;
            max-width: 250px;
            height: 40px;
            color: white;
            background-color: #3483FA;
            border: none;
            border-radius: 4px;
        }
    }

    .item-detail-description {
        grid-area: description;
        margin-left: 32px;
        margin-bottom: 32px;

        .item-description-title {
            margin-bottom: 32px;
            font-size: 28px;
            font-weight: normal;
        }

        .item-description {
            font-size: 16px;
        }
    }
}