.category-path {
    font-size: 14px;
    color: #999999;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .last-category {
        color: #666666;
        font-weight: bold;
    }
}

.items-container {
    width: 80vw;
    background-color: white;

    .item-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .loading-results {
            background-color: #EEEEEE;
        }
    
        .line-division {
            width: 75vw;
            border-bottom: 2px solid #EEEEEE;
        }
    }
}

.item-link {
    text-decoration: none;
}
