.items-container {
    width: 80vw;
    min-height: calc(100vh - 92px);
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: white;
    
        .line-division {
            width: 75vw;
            min-width: 920px;
            border-bottom: 2px solid #EEEEEE;
        }
    }
    
    .loading-results {
        margin: 0;
        background-color: #EEEEEE;
        justify-self: center;
        align-self: center;
    }
}
