.App {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    .main-content {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #EEEEEE;
    }
}